{% extends 'components/base.html' %} {% load static %} {% block title %}
<title>About Us | NexGen Shop | E-commerce | NexGenShop is a Beauty, Fashion and Lifestyle e-commerce shopping destination</title>
<meta name="title" content="NexGen Shop | Online Store | NexGen Shop is a Beauty, Fashion and Lifestyle e-commerce shopping destination">
<meta name="description" content="We are a dedicated team of professionals working hard to provide high-end western fashion from every part of the world to your doorstep in only 18-25 Days. From runway inspired clothing and handbags to collector’s dream list of watches, shoes and fragrances, www.nexgen-shop.com has everything to satisfy your thirst for fashion.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://nexgen-shop.com/">
<meta property="og:title" content="NexGen Shop | Online Store | NexGen Shop is a Beauty, Fashion and Lifestyle e-commerce shopping destination">
<meta property="og:description" content="We are a dedicated team of professionals working hard to provide high-end western fashion from every part of the world to your doorstep in only 18-25 Days. From runway inspired clothing and handbags to collector’s dream list of watches, shoes and fragrances, www.nexgen-shop.com has everything to satisfy your thirst for fashion.">
<meta property="og:image" content="https://nexgen-shop.com{% static 'img/meta_img.png' %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://nexgen-shop.com/">
<meta property="twitter:title" content="NexGen Shop | Online Store | NexGen Shop is a Beauty, Fashion and Lifestyle e-commerce shopping destination">
<meta property="twitter:description" content="We are a dedicated team of professionals working hard to provide high-end western fashion from every part of the world to your doorstep in only 18-25 Days. From runway inspired clothing and handbags to collector’s dream list of watches, shoes and fragrances, www.nexgen-shop.com has everything to satisfy your thirst for fashion.">
<meta property="twitter:image" content="https://nexgen-shop.com{% static 'img/meta_img.png' %}">
{% endblock title %}
 {% block main %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div
    class="d-flex flex-column align-items-center justify-content-center"
    style="min-height: 200px"
  >
    <h1 class="font-weight-semi-bold text-uppercase mb-3">About Us</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">About Us</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Contact Start -->
<div class="container pt-5">
  <div class="text-center mb-4">
    <h2 class="section-title px-5"><span class="px-2">About Us</span></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>OUR STORY</h3>
      <p class="text-justify">
        Started in 2021, a dream turned to reality through a Facebook Page that
        won the hearts of many fashionistas in Pakistan who had the continuous
        quench to grow themselves to become trendsetters. From this point in
        time, we have hustled hard to align our mission with our fans by
        bringing the latest western fashion to Pakistan. After successfully
        bridging the miles between different parts of the world to build an
        efficient supply chain network, we launched www.nexgen-shop.com in 2022.
        Each day, we not only deliver products to our valued customers, but in
        the bigger picture, we deliver excellent customer experience, support
        and trust at doorsteps. This year, we plan on delivering greater value
        to each customer and promise to give you a future full of online
        shopping convenience, great deals and discounts.
      </p>
      <h3>WHO ARE WE?</h3>
      <p class="text-justify">
        We are a dedicated team of professionals working hard to provide
        high-end western fashion from every part of the world to your doorstep
        in only 18-25 Days. From runway inspired clothing and handbags to
        collector’s dream list of watches, shoes and fragrances,
        www.nexgen-shop.com has everything to satisfy your thirst for fashion.
      </p>
      <h3>HOW TO PLACE AN ORDER WITH US?</h3>
      <p class="text-justify">
        Visit nexgen-shop.com. Explore our categories and choose your favorite
        product. Add it to your cart. Fill the details at checkout and place
        your order. Sit back and relax. You’ll receive your order within 18-25
        days.
      </p>
      <h3>REASONS TO LOVE US</h3>
      <p class="text-justify">
        Convenient shopping Shop from 500+ brands Excellent Customer Support
      </p>
      <h3>WHAT WE OFFER</h3>
      <p class="text-justify">
        Women Fashion Handbags, Shoes, Clothing, Accessories, Cosmetics Men
        Fashion Clothing, Shoes, Accessories, Fragrances Kids Fashion Clothing,
        Shoes, Accessories
      </p>
    </div>
  </div>
</div>
<!-- Contact End -->

{% endblock main %}
