{% extends 'components/base.html' %}
{% load static %}
{% block title %}
<title>Refund Policy | Nexgen-shop | Online Store | NexGen Shop is a Beauty, Fashion and Lifestyle e-commerce shopping destination</title>
<meta name="title" content="NexGen Shop | Online Store | NexGen Shop is a Beauty, Fashion and Lifestyle e-commerce shopping destination">
<meta name="description" content="We are a dedicated team of professionals working hard to provide high-end western fashion from every part of the world to your doorstep in only 18-25 Days. From runway inspired clothing and handbags to collector’s dream list of watches, shoes and fragrances, www.nexgen-shop.com has everything to satisfy your thirst for fashion.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://nexgen-shop.com/">
<meta property="og:title" content="NexGen Shop | Online Store | NexGen Shop is a Beauty, Fashion and Lifestyle e-commerce shopping destination">
<meta property="og:description" content="We are a dedicated team of professionals working hard to provide high-end western fashion from every part of the world to your doorstep in only 18-25 Days. From runway inspired clothing and handbags to collector’s dream list of watches, shoes and fragrances, www.nexgen-shop.com has everything to satisfy your thirst for fashion.">
<meta property="og:image" content="https://nexgen-shop.com{% static 'img/meta_img.png' %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://nexgen-shop.com/">
<meta property="twitter:title" content="NexGen Shop | Online Store | NexGen Shop is a Beauty, Fashion and Lifestyle e-commerce shopping destination">
<meta property="twitter:description" content="We are a dedicated team of professionals working hard to provide high-end western fashion from every part of the world to your doorstep in only 18-25 Days. From runway inspired clothing and handbags to collector’s dream list of watches, shoes and fragrances, www.nexgen-shop.com has everything to satisfy your thirst for fashion.">
<meta property="twitter:image" content="https://nexgen-shop.com{% static 'img/meta_img.png' %}">
{% endblock title %}

{% block main %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Refund Policy</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Refund Policy</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Refund Policy</span></h2>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" aria-disabled="true">1- If your product is damaged, defective, or incomplete at the time of delivery, please file a return request within 12 hours of delivery.</li>
                <li class="list-group-item">2- Please contact Customer Service at nexgenshopofficial@gmail.com, indicating the item(s) you would like to return and the reason.                </li>
                <li class="list-group-item">3- Attach packaging pictures along with the product pictures from different angles.                 </li>
                <li class="list-group-item">4- Shipping Damages / Broken Items: <p>NexGenShop takes the best possible measures in providing sustainable packaging but since some of the makeup items are fragile, and can be damaged by the shipping company during the transit, you need to share the proof of damage within 6 hours of receiving those items, and we will not return or exchange such items, but we will provide you a discount coupon equivalent to the damage happened. We will require 7-10 business days to settle these claims.</p></li>
                <li class="list-group-item">5- Reserved Rights Regarding Returns</li>
                <li class="list-group-item">6- We reserve the right to solely define and limit, refuse, and/or reject returns from customers at any time due to:</li>
                <li class="list-group-item">7- An irregular or excessive returns history indicative of "wardrobing;"</li>
                <li class="list-group-item">8- An irregular or excessive returns history involving worn, altered, laundered, damaged, or missing items; or</li>
                <li class="list-group-item">9- Potential fraudulent or criminal activity.</li>
            </ul>
            <hr>
            <h3>Return Condition</h3>
            <p class="text-justify">The following items cannot be returned or exchanged: bodysuits, lingerie, jewelry.
                Returned items must be in unused condition with the original packing. We do not accept returned items that have been worn, damaged, washed, or altered in any way.
                We do not accept returned items that have been sent back without proper returns requests.
                NOTE: Refund amount will be deducted in case NexGenShop founds any returned product altered in any way.</p>
        </div>
    </div>
    
</div>
<!-- Contact End -->

{% endblock main %}



