{% extends 'admin/base-admin.html' %}
{% block title %}
<title>NexGen Admin | NexGen Shop </title>
{% endblock title %}

{% block main %}

<div class="container-fluid mt-5">
    <div class="row px-3 justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="w-100  bg-purple shadow rounded text-center py-2 row px-5 justify-content-space-between" style="height: 40vh;">
                <div class="mt-5 col-8">
                    <h1>Total Income</h1>
                    <h1 style="font-size:50px;">19178$</h1>
                    <h6>Total Income of last 30 days</h6>
                </div>
                <div class="col-4 text-center">
                    <h1 class="mt-5" style="font-size:150px;"><i class="fas fa-dollar-sign"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="w-100  bg-info shadow rounded text-center py-2 row px-5 justify-content-space-between" style="height: 40vh;">
                <div class="mt-5 col-8">
                    <h1>New Orders</h1>
                <h1 style="font-size:50px;">19178$</h1>
                <h6>Today</h6>
                </div>
                <div class="col-4 text-center">
                    <h1 class="mt-5" style="font-size:150px;"><i class="fab fa-first-order"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
            <div class="w-100  bg-success shadow rounded text-center py-2 row px-5 justify-content-space-between" style="height: 40vh;">
                <div class="mt-5 col-8">
                    <h1>Total Users</h1>
                    <h1 style="font-size:50px;">19178$</h1>
                    <h6>Total Income of last 30 days</h6>
                </div>
                <div class="col-4 text-center">
                    <h1 class="mt-5" style="font-size:150px;"><i class="fas fa-user"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
            <div class="w-100  bg-primary shadow rounded text-center py-2 row px-5 justify-content-space-between" style="height: 40vh;">
                <div class="mt-5 col-8">
                    <h1>Total Orders</h1>
                    <h1 style="font-size:50px;">19178$</h1>
                    <h6>Total Orders of last 30 days</h6>
                </div>
                <div class="col-4 text-center">
                    <h1 class="mt-5" style="font-size:150px;"><i class="fab fa-first-order"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
            <div class="w-100  bg-blue shadow rounded text-center py-2 row px-5 justify-content-space-between" style="height: 40vh;">
                <div class="mt-5 col-8">
                    <h1>Total Products</h1>
                    <h1 style="font-size:50px;">19178$</h1>
                    <h6>All available products</h6>
                </div>
                <div class="col-4 text-center">
                    <h1 class="mt-5" style="font-size:150px;"><i class="fas fa-user"></i></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-2">
            <div class="w-100  bg-yellow shadow rounded text-center py-2 row px-5 justify-content-space-between" style="height: 40vh;">
                <div class="mt-5 col-8">
                    <h1>Total Queries</h1>
                    <h1 style="font-size:50px;">19178$</h1>
                    <h6>Total Queries of last 30 days</h6>
                </div>
                <div class="col-4 text-center">
                    <h1 class="mt-5" style="font-size:150px;"><i class="fab fa-first-order"></i></h1>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock main %}





