   {% load static %}
   <!-- Footer Start -->
   <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">NEXGEN</span>Shop</h1>
            </a>
            <p>NexGenShop is a Beauty, Fashion and Lifestyle e-commerce shopping destination</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Ada 120 near TCS Office, sadiqabad, PAKISTAN</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>nexgenshop002@gmail.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+92-307-3939075</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-3 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="{% url 'index' %}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-dark mb-2" href="{% url 'shop' %}"><i class="fa fa-angle-right mr-2"></i>Shop</a>
                        <a class="text-dark mb-2" href="{% url 'cart' %}"><i class="fa fa-angle-right mr-2"></i>Cart</a>
                        <a class="text-dark mb-2" href="{% url 'refund' %}"><i class="fa fa-angle-right mr-2"></i>Refund Policy</a>
                        <a class="text-dark mb-2" href="{% url 'contact' %}"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        <a class="text-dark mb-2" href="{% url 'about' %}"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                        
                        
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Account</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="{% if request.user.is_authenticated %}{% url 'index' %}{% else %}{% url 'login' %}{% endif %}"><i class="fa fa-angle-right mr-2"></i>My Account</a>
                        <a class="text-dark mb-2" href="{% if request.user.is_authenticated %}{% url 'myorder' %}{% else %}{% url 'login' %}{% endif %}"><i class="fa fa-angle-right mr-2"></i>My Orders</a>
                        <a class="text-dark mb-2" href="{% url 'cart' %}"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        {% if request.user.is_authenticated %}
                        {% else %}
                        <a class="text-dark mb-2" href="{% url 'login' %}"><i class="fa fa-angle-right mr-2"></i>Login</a>
                        <a class="text-dark mb-2" href="{% url 'signup' %}"><i class="fa fa-angle-right mr-2"></i>Register</a>
                        {% endif %}
                        <a class="text-dark mb-2" href="{% url 'privacy' %}"><i class="fa fa-angle-right mr-2"></i>Privacy Plicy</a>
                        <a class="text-dark mb-2" href="{% url 'contact' %}"><i class="fa fa-angle-right mr-2"></i>Support</a>
                        <a class="text-dark mb-2" href="{% url 'faq' %}"><i class="fa fa-angle-right mr-2"></i>FAQ</a>
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Our Apps</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <h6>Download Our components For Android & Ios</h6>
                    
                    <div class="components-logo">
                        <img class="w-50 mt-1" src="{% static 'img/play-store.png' %}">
                        <img class="w-50 mt-1" src="{% static 'img/app-store.png' %}">
                    </div>
                        
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                required="required" />
                        </div>
                        <div>
                            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">nexgen-shop.com</a>. All Rights Reserved.
                <br>Designed & Developed
                by
                <a class="" href="https://zpexsolutions.com" target="_blank">zpexsolutions</a><br>
                {% comment %} Powered By <a href="https://nexgen-solutions.com" target="_blank">nexgen-solutions</a> {% endcomment %}
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="{% static 'img/payments.png' %}" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->