   <!-- Topbar Start -->
   <div class="container-fluid ">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark" href="{% url 'about' %}">About Us</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="{% url 'contact' %}">Feedback & Suggestions</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="{% url 'contact' %}">Contact Us</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="{% url 'faq' %}">FAQ</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="{% url 'privacy' %}">Privacy Policy</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark px-2" href="https://www.facebook.com/nexgenerationshop" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                 <a class="text-dark px-2" href="https://www.facebook.com/nexgenerationshop">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-dark px-2" href="https://www.linkedin.com/company/nexgensolution/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-dark px-2" href="https://www.instagram.com/nexgenerationshop/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-dark pl-2" href="https://www.youtube.com/">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="{% url 'index' %}" class="text-decoration-none">
                <h2 class="m-0 display-6 font-weight-semi-bold "><span class="text-primary font-weight-bold border px-2 mr-1">NEXGEN</span>Shop</h2>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            <form action="{% url 'shop' %}" method="GET" name="search-form" id="search-form">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" {% if search %} value="{{search}}" {% endif %} placeholder="Search by name, category, brand">
                    <div class="input-group-append">
                        <span onclick="document.forms['search-form'].submit();" class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-right">
            {% comment %} <a href="" class="btn border">
                <i class="fas fa-heart text-primary"></i>
                <span class="badge">0</span>
            </a> {% endcomment %}
            <a href="{% url 'cart' %}" class="btn border">
                <i class="fas fa-shopping-cart text-primary"></i>
                {% if cart_total %}
                <span id="cart-badge" class="badge">{{cart_total}}</span>
                {% else %}
                <span id="cart-badge" class="badge">0</span>
                {% endif %}
            </a>
        </div>
    </div>
</div>
<!-- Topbar End -->

{% if index_navbar %}
<!-- Navbar Start -->
<div class="container-fluid mb-5 ">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 px-1 d-lg-block" style="z-index: 101;">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav  class="collapse show w-100 navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                <div class="navbar-nav w-100 " style="height: 415px;overflow-x: hidden;background-color:#fff;z-index: 101;
                overflow-y: auto;">
                    
                {% for cate in cat_nav %}
                <div class="nav-item dropdown" style="background-color:#fff;">
                    <a href="#" class="nav-link" data-toggle="dropdown">{{cate.cat.title}} <i class="fa fa-angle-down float-right mt-1 "></i></a>
                    <div class="dropdown-menu  bg-secondary  border-0 rounded-0 w-100 m-0">
                        {% for subcate in cate.sub %}
                        {% comment %} <a href="{% url 'shop' %}?cat={{subcate.id}}" class="dropdown-item">{{subcate.title}}</a> {% endcomment %}
                         <div class="nav-item dropdown" style="background-color:#f23535;">
                            <a href="{% url 'shop' %}?main-cat={{subcate.sub.id}}" class="nav-link text-white bg-primary" >{{subcate.sub.title}} </a>
                             <div class="  bg-secondary border-0 rounded-0 w-100 m-0">
                                {% for subsub in subcate.subsub %}
                                <a href="{% url 'shop' %}?cat={{subsub.id}}" class="dropdown-item">{{subsub.title}}</a>
                                {% endfor %}
                            </div> 
                        </div> 
                        
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                    
                </div>
            </nav>
        </div>
        <div class="col-lg-9 px-1">
            <nav class="navbar  navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="{% url 'index' %}" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 ">NEXGEN</span>Shop</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="{% url 'index' %}" class="nav-item nav-link {% if index %} active {% endif %}">Home</a>
                        <a href="{% url 'shop' %}" class="nav-item nav-link {% if shop %} active {% endif %}">Shop</a>
                        <a href="{% url 'contact' %}" class="nav-item nav-link {% if contact %} active {% endif %}">Contact</a>
                        <a href="{% url 'refund' %}" class="nav-item nav-link">Refund Policy</a>
                        <!-- <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                <a href="checkout.html" class="dropdown-item">Checkout</a>
                            </div>
                        </div> -->
                    </div>
                    <div class="navbar-nav ml-auto py-0">
                        <a href="{% if request.user.is_authenticated %}{% url 'myorder' %}{% else %}{% url 'login' %}{% endif %}" class="nav-item nav-link">My Orders</a>
                        <a href="{% if request.user.is_authenticated %}{% url 'account' %}{% else %}{% url 'login' %}{% endif %}" class="nav-item nav-link"> Account</a>
                        <a href="{% if request.user.is_authenticated %}{% url 'logout' %}{% else %}{% url 'login' %}{% endif %}" class="nav-item nav-link">{% if request.user.is_authenticated %}Logout{% else %}Login{% endif %}</a>
                       
                        <!-- <a href="" class="nav-item nav-link">Register</a> -->
                    </div>
                </div>
            </nav>
            
            {% include 'components/slider.html' %}
            
        </div>
    </div>
</div>
<!-- Navbar End -->
{% else %}
<!-- Navbar Start -->
<div class="container-fluid ">
    <div class="row border-top px-xl-5">
        <div class="col-lg-3 px-1 d-lg-block" style="z-index: 101;">
            <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                <h6 class="m-0">Categories</h6>
                <i class="fa fa-angle-down text-dark"></i>
            </a>
            <nav class="collapse position-absolute   navbar navbar-vertical navbar-light align-items-start p-0 px-1 border border-top-0 border-bottom-0 bg-white" id="navbar-vertical" style="width: 100%; z-index: 1;">
                <div class="navbar-nav w-100" style="height: 415px;overflow-x: hidden;background-color:white;
                overflow-y: auto;">
                    
                    {% comment %} {% for cate in cat_nav %}
                    <div class="nav-item dropdown " style="background-color:#fff;">
                        <a href="#" class="nav-link" data-toggle="dropdown">{{cate.cat.title}} <i class="fa fa-angle-down float-right mt-1"></i></a>
                        <div class="dropdown-menu  bg-secondary border-0 rounded-0 w-100 m-0">
                            {% for subcate in cate.sub %}
                            <a href="{% url 'shop' %}?cat={{subcate.id}}" class="dropdown-item">{{subcate.title}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %} {% endcomment %}
                    {% for cate in cat_nav %}
                    <div class="nav-item dropdown w-100" style="background-color:#fff;">
                        <a href="#" class="nav-link" data-toggle="dropdown">{{cate.cat.title}} <i class="fa fa-angle-down float-right mt-1 "></i></a>
                        <div class="dropdown-menu  bg-secondary  border-0 rounded-0 w-100 m-0">
                            {% for subcate in cate.sub %}
                            {% comment %} <a href="{% url 'shop' %}?cat={{subcate.id}}" class="dropdown-item">{{subcate.title}}</a> {% endcomment %}
                             <div class="nav-item dropdown" style="background-color:#f23535;">
                                <a href="{% url 'shop' %}?main-cat={{subcate.sub.id}}" class="nav-link text-white bg-primary" >{{subcate.sub.title}} </a>
                                 <div class="  bg-secondary border-0 rounded-0 w-100 m-0">
                                    {% for subsub in subcate.subsub %}
                                    <a href="{% url 'shop' %}?cat={{subsub.id}}" class="dropdown-item">{{subsub.title}}</a>
                                    {% endfor %}
                                </div> 
                            </div> 
                            
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </nav>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="{% url 'index' %}" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">NEXGEN</span>Shop</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="{% url 'index' %}" class="nav-item nav-link {% if index %} active {% endif %}">Home</a>
                        <a href="{% url 'shop' %}" class="nav-item nav-link {% if shop %} active {% endif %}">Shop</a>
                        <a href="{% url 'contact' %}" class="nav-item nav-link {% if contact %} active {% endif %}">Contact</a>
                        <a href="{% url 'refund' %}" class="nav-item nav-link">Refund Policy</a>
                    </div>
                    <div class="navbar-nav ml-auto py-0">
                        <a href="{% if request.user.is_authenticated %}{% url 'myorder' %}{% else %}{% url 'login' %}{% endif %}" class="nav-item nav-link">My Orders</a>
                        <a href="{% if request.user.is_authenticated %}{% url 'account' %}{% else %}{% url 'login' %}{% endif %}" class="nav-item nav-link"> Account</a>
                        <a href="{% if request.user.is_authenticated %}{% url 'logout' %}{% else %}{% url 'login' %}{% endif %}" class="nav-item nav-link">{% if request.user.is_authenticated %}Logout{% else %}Login{% endif %}</a>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->
{% endif %}


